#main {
  margin: 10px auto;
  width: 400px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#submit{
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(221, 210, 59);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition: all 0.5s;
  cursor: pointer;
}
#submit:active {
  background-color: #9e8825;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit:hover span {
  padding-right: 25px;
}

#submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submit:hover span:after {
  opacity: 1;
  right: 0;
}

a {
  color: #00B7FF;
}

.form-group {
  display: block;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
}

input {
  text-align: right;
}
